# Auto detect text files and perform LF normalization
* text=auto
* text = ok
* text = write English texts every day and repeat them 15 times a day 
* text = repetitions can be very helpful in a programmer's day-to-day life
